# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

cmd/device-simple/device-simple

.DS_Store

*.log

cmd/device-simple/randomsuppliernumberValue.txt

cmd/device-simple/randomconsumenumberValue.txt
