<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--<meta http-equiv="refresh" content="10" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified plotly.js JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>{{.Title}}</title>


</head>

<body>

<!--<h2>Energy Exchange Platform</h2>-->

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary p-4 sticky-top">
    <a class="navbar-brand" href="/">Power Flow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="bg bg-light">

    <div id="thisdiv" class="mainbody ">

        <H4 class="p-3 mb-0 mt-4 bg-light text-black">List of Device(s)</H4>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Peer</th>
                    <th scope="col">Name</th>
                    <th scope="col">Device ID</th>
                    <th scope="col">Operating State</th>
                </tr>
                </thead>
                <tbody >
                {{ range $i, $sequence := .DeviceMap }}
                    <tr>
                        <th scope="row">{{ $i }}</th>
                        <td>{{ $sequence.PeerId }}</td>
                        <td>{{ $sequence.Name }}</td>
                        <td>{{ $sequence.Id }}</td>
                        <td>{{ $sequence.OperatingState }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>

        <H4 class="p-3 mb-0 mt-4 bg-light text-black">Supply Board</H4>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Device Address</th>
                    <th scope="col">Name</th>
                    <th scope="col">Supplying ?</th>
                    <th scope="col">To Supply(kW)</th>
                    <th scope="col">Sell Threshold(kW)</th>
                    <th scope="col">Surplus(kW)</th>
                    <th scope="col">Supply Rate(kWh)</th>
                    <th scope="col">Charge Rate(kWh)</th>
                    <th scope="col">Current Charge Level(kW)</th>
                    <th scope="col">Current Sell Rate($)</th>
                </tr>
                </thead>
                <tbody>
                {{ range $i, $sequence := .SupplyDevicesDetails }}
                    <tr>
                        <th scope="row">{{ $i }}</th>
                        <td>{{ $sequence.DeviceAddress }}</td>
                        <td>{{ $sequence.DeviceName }}</td>
                        <td>{{ $sequence.IsSupplying }}</td>
                        <td>{{ $sequence.ToSupply }}</td>
                        <td>{{ $sequence.SellThreshold }}</td>
                        <td>{{ $sequence.Surplus }}</td>
                        <td>{{ $sequence.SupplyRate }}</td>
                        <td>{{ $sequence.SupplierChargeRate }}</td>
                        <td>{{ $sequence.SupplierCharge }}</td>
                        <td>{{ $sequence.SellRate }}</td>

                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>

        <H4 class="p-3 mb-0 mt-4 bg-light text-black">Consume Board</H4>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Device Address</th>
                    <th scope="col">Name</th>
                    <th scope="col">Receiving ?</th>
                    <th scope="col">To Receive(kW)</th>
                    <th scope="col">Buy Threshold(kW)</th>
                    <th scope="col">Require(kW)</th>
                    <th scope="col">Receive Rate(kWh)</th>
                    <th scope="col">Discharge Rate(kWh)</th>
                    <th scope="col">Current Charge Level(kWh)</th>
                    <th scope="col">Current Buy Rate($)</th>
                </tr>
                </thead>
                <tbody>
                {{ range $i, $sequence := .ConsumeDevicesDetails }}
                    <tr>
                        <th scope="row">{{ $i }}</th>
                        <td>{{ $sequence.DeviceAddress }}</td>
                        <td>{{ $sequence.DeviceName }}</td>
                        <td>{{ $sequence.IsReceiving }}</td>
                        <td>{{ $sequence.ToReceive }}</td>
                        <td>{{ $sequence.BuyThreshold }}</td>
                        <td>{{ $sequence.Require }}</td>
                        <td>{{ $sequence.ToReceiveRate }}</td>
                        <td>{{ $sequence.ConsumerDischargeRate }}</td>
                        <td>{{ $sequence.ConsumerCharge }}</td>
                        <td>{{ $sequence.BuyRate }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>

    </div>

    <div class="">
        <h3>Overview </h3>
        <div class="container">
            <div id="chart"></div>
        </div>
    </div>

    <div id="txsdiv" class="mainbody ">
        <H4 class="p-3 mb-0 mt-4 bg-light text-black">Transaction History</H4>
        <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col">Latest</th>
                <th scope="col">Transaction Type</th>
                <th scope="col">Supplier Address</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Consumer Address</th>
                <th scope="col">Consumer Name</th>
                <th scope="col">Consumer Require(kWh)</th>
                <th scope="col">Supplier ToSupply(kWh)</th>
            </tr>
            </thead>
            <tbody>
            {{ range $i, $sequence := .Transactions }}
                <tr>
                    <th scope="row">{{ $i }}</th>
                    <td>{{ $sequence.EventType }}</td>
                    <td>{{ $sequence.SupplierAddress }}</td>
                    <td>{{ $sequence.SupplierName }}</td>
                    <td>{{ $sequence.ConsumerAddress }}</td>
                    <td>{{ $sequence.ConsumerName }}</td>
                    <td>{{ $sequence.ConsumerRequire }}</td>
                    <td>{{ $sequence.SupplierToSupply }}</td>
                </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
    </div>


</div>

<div class="footer bg-dark text-white mt-4">
    Send email at: <a href="support@rozitaanurag.com">

        support@rozitaanurag.com</a>

    <BR> <B><I>@CS690 Master Project</I></B>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<!--  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- Optional JavaScript -->
<!-- plotly -->
<script>

    let sdvalue = 0;
    let fullSdValue;
    let cdvalue = 0;
    let fullCdValue;
    let peer = {{.IpPort}};//'192.168.11.20';
    // let sdUrl='http://192.168.11.20:6686/getsdreadings';
    // let cdUrl='http://192.168.11.20:6686/getcdreadings';
    let sdUrl='http://'+peer+'/getsdreadings';
    let cdUrl='http://'+peer+'/getcdreadings';

    function getSdData() {
        // value =  Math.random();
        $.ajax({
            url: sdUrl,
            crossDomain: true,
            headers: { },
            type: 'get',
            success: function (responseData) {
                // console.log(responseData[0]);
                sdvalue = responseData[0];
            },
            error: function (responseData) {
                console.log('POST failed.');
                sdvalue = 0;
            }
        });
        console.log(sdvalue);
        return sdvalue;

    }

    function getCdData() {
        // value =  Math.random();
        $.ajax({
            url: cdUrl,
            crossDomain: true,
            headers: { },
            type: 'get',
            success: function (responseData) {
                // console.log(responseData[0]);
                cdvalue = responseData[0];
            },
            error: function (responseData) {
                console.log('POST failed.');
                cdvalue = 0;
            }
        });
        console.log(cdvalue);
        return cdvalue;

    }

    var layout = {
        title:'Charge Level in : '+ peer,
        width: 1200,
        height: 600,
        xaxis: {
            showline: false,
            showgrid: false,
            showticklabels: true,
            linecolor: 'rgb(204,204,204)',
            linewidth: 2,
            autotick: true,
            ticks: 'outside',
            tickcolor: 'rgb(0,0,0)',
            tickwidth: 2,
            ticklen: 5,
            tickfont: {
                family: 'Arial',
                size: 12,
                color: 'rgb(82, 82, 82)'
            }
        },
        yaxis: {
            showgrid: false,
            zeroline: false,
            showline: false,
            showticklabels: true,
            autotick: true,
            ticks: 'outside',
            tickcolor: 'rgb(0,0,0)',
            tickwidth: 2,
            ticklen: 5,
            tickfont: {
                family: 'Arial',
                size: 12,
                color: 'rgb(82, 82, 82)'
            }
        },
        legend: {
            y: 0.5,
            // traceorder: 'reversed',
            font: {size: 18},
            yref: 'paper'
        }
    };

    let time = new Date();
    Plotly.plot('chart',[{
            x: [time],
            y:[getSdData()],
            name: 'Supply Device',
            mode: 'lines+markers',
            line: {color: '#396AB1',width: 3},
            marker: {
                size: 6
            }
        }, {
            x: [time],
            y:[getCdData()],
            name: 'Consume Device',
            mode: 'lines+markers',
            line: {color: '#948B3D',width: 3},
            marker: {
                size: 6
            }
        }],
        layout,
        {responsive: true});


    var cnt = 0;
    setInterval(function (){
        $('#thisdiv').load(document.URL +  ' #thisdiv');
        $('#txsdiv').load(document.URL +  ' #txsdiv');



        let time = new Date();
        let update = {
            x:  [[time],[time]],
            y: [[getSdData()],[getCdData()]]
        };

        Plotly.extendTraces('chart', update, [0,1])

        cnt++;

        if(cnt > 500) {
            Plotly.relayout('chart',{
                xaxis: {
                    range: [cnt-500,cnt]
                }
            });
        }
    },8000);
</script>
<!-- end of plotly -->

</body>
</html>