<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Chart</title>
    <script src="jquery-2.1.4.js"></script>
    <!-- Latest compiled and minified plotly.js JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div class="navbar"><span>Real-Time chart</span></div>
<div class="wrapper">

        <div id="chart"></div>

        <script>
            function getData() {
                // return Math.random();
                const Url='http://10.7.52.166:6686/getsdreadings';
                $.ajax({
                    url: Url,
                    dataType: 'text',
                    crossDomain: true,
                    headers: { },
                    type: 'get',
                    success: function (responseData, textStatus, jqXHR) {
                        console.log(responseData);
                        return responseData
                    },
                    error: function (responseData, textStatus, errorThrown) {
                        console.log('POST failed.');
                        return []
                    }
                });
            }


            Plotly.plot('chart',[{
                y:[getData()],
                type:'line'
            }]);

            var cnt = 0;

            setInterval(function (){

                Plotly.extendTraces('chart',{ y:[[getData()]]}, [0]);
                cnt++;

                if(cnt > 500) {
                    Plotly.relayout('chart',{
                        xaxis: {
                            range: [cnt-500,cnt]
                        }
                    });
                }
            },200);
        </script>

</div>
</body>
</html>