<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Chart</title>
    <script src="jquery-2.1.4.js"></script>
    <!-- Latest compiled and minified plotly.js JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div class="navbar"><span>Real-Time chart</span></div>
<div class="wrapper">

    <div id="chart"></div>

    <script>
        let sdvalue = 0;
        let cdvalue = 0;
        const sdUrl='http://192.168.1.106:6686/getsdreadings';
        const cdUrl='http://192.168.1.106:6686/getcdreadings';

        function getSdData() {
            // value =  Math.random();
            $.ajax({
                url: sdUrl,
                crossDomain: true,
                headers: { },
                type: 'get',
                success: function (responseData) {
                    // console.log(responseData[0]);
                    sdvalue = responseData[0];
                },
                error: function (responseData) {
                    console.log('POST failed.');
                    sdvalue = 0;
                }
            });
            console.log(sdvalue);
            return sdvalue;
        }

        function getCdData() {
            // value =  Math.random();
            $.ajax({
                url: cdUrl,
                crossDomain: true,
                headers: { },
                type: 'get',
                success: function (responseData) {
                    // console.log(responseData[0]);
                    cdvalue = responseData[0];
                },
                error: function (responseData) {
                    console.log('POST failed.');
                    cdvalue = 0;
                }
            });
            console.log(cdvalue);
            return cdvalue;
        }

        let time = new Date();
        Plotly.plot('chart',[{
            x: [time],
            y:[getSdData()],
            name: 'Supply Device',
            mode: 'lines',
            line: {color: '#7FF671'}
        }, {
            x: [time],
            y:[getCdData()],
            name: 'Consume Device',
            mode: 'lines',
            line: {color: '#FF9671'}
        }]);

        var cnt = 0;
        setInterval(function (){
            let time = new Date();
            let update = {
                x:  [[time],[time]],
                y: [[getSdData()],[getCdData()]]
            };

            Plotly.extendTraces('chart', update, [0,1])

            // Plotly.extendTraces('chart',{
            //     x:  [[time], [time]],
            //     y:[[getSdData()],[getCdData()]]
            // }, [0,1]);
            cnt++;

            if(cnt > 500) {
                Plotly.relayout('chart',{
                    xaxis: {
                        range: [cnt-500,cnt]
                    }
                });
            }
        },8000);
    </script>

</div>
</body>
</html>