<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Chart</title>
    <script src="jquery-2.1.4.js"></script>
    <!-- Latest compiled and minified plotly.js JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div class="navbar"><span>Real-Time chart</span></div>
<div class="wrapper">

        <div id="chart"></div>

        <script>
            function getData() {
                return Math.random();
            }

            Plotly.plot('chart',[{
                y:[getData()],
                type:'line'
            }]);

            var cnt = 0;

            setInterval(function (){

                Plotly.extendTraces('chart',{ y:[[getData()]]}, [0]);
                cnt++;

                if(cnt > 500) {
                    Plotly.relayout('chart',{
                        xaxis: {
                            range: [cnt-500,cnt]
                        }
                    });
                }
            },200);
        </script>

</div>
</body>
</html>