<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--<meta http-equiv="refresh" content="10" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified plotly.js JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>{{.Title}}</title>


</head>

<body>

<!--<h2>Energy Exchange Platform</h2>-->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary p-4 sticky-top">
    <a class="navbar-brand" href="/">Power Flow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="bg bg-light">

    <div id="thisdiv" class="mainbody ">
        <H4 class="p-3 mb-0 mt-4 bg-light text-black">Transactions in Blockchain</H4>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Latest</th>
                    <th scope="col">Type</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Consumer Address</th>
                    <th scope="col">Consumer Require(kW)</th>
                    <th scope="col">Consumer Charge(kW)</th>
                    <th scope="col">Consumer Discharge Rate(kWh)</th>
                    <th scope="col">BuyRate($)</th>
                    <th scope="col">Supplier Address</th>
                    <th scope="col">Supplier To Supply(kW)</th>
                    <th scope="col">Supplier Supply Rate(kWh)</th>
                </tr>
                </thead>
                <tbody>
                {{ range $i, $sequence := .Transactions }}
                    <tr>
                        <th scope="row">{{ $i }}</th>
                        <td>{{ $sequence.EventType }}</td>
                        <td>{{ $sequence.Timestamp }}</td>
                        <td>{{ $sequence.ConsumerAddress }}</td>
                        <td>{{ $sequence.ConsumerRequire }}</td>
                        <td>{{ $sequence.ConsumerCharge }}</td>
                        <td>{{ $sequence.ConsumerDischargeRate }}</td>
                        <td>{{ $sequence.BuyRate }}</td>
                        <td>{{ $sequence.SupplierAddress }}</td>
                        <td>{{ $sequence.SupplierToSupply }}</td>
                        <td>{{ $sequence.SupplierSupplyRate }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../js/vendor/jquery-3.4.1.min.js"><\/script>')</script>

<!-- Optional JavaScript -->
<script>
    setInterval(function (){
        $('#thisdiv').load(document.URL +  ' #thisdiv');
    },8000);
</script>

</body>
</html>