<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Energy Exchange Platform and Marketplace</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* Style the buttons */
        .btn {
            border: none;
            outline: none;
            padding: 12px 16px;
            background-color: #f1f1f1;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #ddd;
        }

        .btn.active {
            background-color: #666;
            color: white;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>
<body class="bg-warning py-5 container">
<h1>Energy Exchange Platform and Marketplace</h1>
<div class="center">
    <div class="col-md-11">
        <div class="card">
            <div class="card-body">
                <div id="IP"></div>
                <h3><button class="btn btn-success" onclick="updateChart(0), updateChart(1), updateChart(2), updateChart(3)">Update</button>
                    <button class="btn btn-info" onclick="addValue(0), addValue(1),addValue(2),addValue(3)">Next</button>
                </h3>
            </div>
            <div class="card-body">
                <canvas id="myChart" width="600" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.7.2/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->


<h2>List View or Grid View</h2>

<p>Click on a button to choose list view or grid view.</p>

<div id="btnContainer">
    <button class="btn" onclick="listView()"><i class="fa fa-bars"></i> List</button>
    <button class="btn active" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
</div>
<br>

<div class="row">
    <div class="column" style="background-color:#aaa;">
        <h2>Supplier Device </h2>
        <p id="sdInfo1"></p>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Consumer Device </h2>
        <p id="cdInfo1"></p>
    </div>
    <div class="column" style="background-color:#aaa;">
        <h2>Supplier Device </h2>
        <p id="sdInfo2"></p>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Consumer Device </h2>
        <p id="cdInfo2"></p>
    </div>
</div>

<div class="row">
    <div class="column" style="background-color:#ccc;">
        <p id="sellRate1"></p>
    </div>
    <div class="column" style="background-color:#ddd;">
        <p id="buyRate1"></p>
    </div>
    <div class="column" style="background-color:#ccc;">
        <p id="sellRate2"></p>
    </div>
    <div class="column" style="background-color:#ddd;">
        <p id="buyRate2"></p>
    </div>
</div>


<script>
    var deviveIp;
    function callback(response){
        console.log(response)

        document.getElementById("IP").innerHTML = response.IPv4;
        deviceIP = response.IPv4;
    }

    $.ajax({

        url:"https://geoip-db.com/jsonp/",
        dataType: "jsonp"
    })

</script>

<script>
    //const Url1= 'http://' + deviceIP +':7777/getsdreadings';
    const Url1='http://192.168.11.94:6686/getsdreadings';
    const Url2='http://192.168.11.94:6686/getcdreadings';
    const Url3 = 'http://192.168.11.94:6686/sendSdDeviceInfo';
    const Url4 = 'http://192.168.11.94:6686/sendCdDeviceInfo';

    // const Url5='http://192.168.11.191:6686/getsdreadings';
    // const Url6='http://192.168.11.191:6686/getcdreadings';
    // const Url7 = 'http://192.168.11.191:6686/sendSdDeviceInfo';
    // const Url8 = 'http://192.168.11.191:6686/sendCdDeviceInfo';

    const Url5='http://10.0.0.73:8888/getsdreadings';
    const Url6 ='http://10.0.0.73:8888/getcdreadings';
    const Url7 = 'http://10.0.0.73:8888/sendSdDeviceInfo';
    const Url8 = 'http://10.0.0.73:8888/sendCdDeviceInfo';

    let sdInfo;
    let cdInfo;


    let cnt = 0;
    let label = 8;
    let oldcharge1 = [0, 10, 5, 2, 20, 30, 45,30,65];
    let newcharge1 = [0, 10, 5, 2, 20, 30, 45,33,12];
    let oldcharge2 = [99, 80, 75, 62, 50, 40, 35,22,82];
    let newcharge2 = [99, 80, 75, 62, 50, 40, 35,45,66];
    let oldcharge3 = [39, 80, 25, 62, 10, 15, 38,22,11];
    let newcharge3 = [15, 25, 65, 30, 10, 55, 10,15,16];
    let oldcharge4 = [90, 80, 70, 10, 20, 30, 35,15, 16];
    let newcharge4 = [13, 15, 25, 30, 40, 50, 65,28,32];


    const URLS = [Url1, Url2,Url5, Url6];




    function getData(Url, i,  value) {
        //const Url='http://192.168.1.106:6686/getsdreadings';
        $.ajax({
            url: Url,
            crossDomain: true,
            headers: { },
            type: 'get',
            success: function (responseData, textStatus, jqXHR) {
                console.log(responseData);
                //newcharge1 = responseData
                value = responseData;
                // label = responseData.length;
                addValue(i ,value);
            },
            error: function (responseData, textStatus, errorThrown) {
                console.log('POST failed.');
                //return []
            }
        });
    }


    function getDeviceInfo(Url, flag) {
        //const Url='http://192.168.1.106:6686/getsdreadings';
        $.ajax({
            url: Url,
            crossDomain: true,
            headers: { },
            type: 'get',
            success: function (responseData, textStatus, jqXHR) {
                console.log('[responseData]',responseData);
                if(flag == 1){
                    document.getElementById('sdInfo1').innerHTML = responseData.DeviceName.toString();
                    document.getElementById('sellRate1').innerHTML = responseData.SellRate.toString();
                } else if (flag == 0) {
                    document.getElementById('cdInfo1').innerHTML = responseData.DeviceName.toString();
                    document.getElementById('buyRate1').innerHTML = responseData.BuyRate.toString();
                } else if (flag == 3) {
                    document.getElementById('cdInfo2').innerHTML = responseData.DeviceName.toString();
                    document.getElementById('buyRate2').innerHTML = responseData.BuyRate.toString();
                } else if (flag == 2) {
                    document.getElementById('cdInfo2').innerHTML = responseData.DeviceName.toString();
                    document.getElementById('buyRate2').innerHTML = responseData.BuyRate.toString();
                }
            },
            error: function (responseData, textStatus, errorThrown) {
                console.log('POST failed.');
            }
        });
    }

        $.getJSON('http://ipinfo.io', function(data){
        console.log("[Client IP:]",data);
        });



    setInterval(function (){

        getDeviceInfo(Url3, 1);
        getDeviceInfo(Url4, 0);
        getDeviceInfo(Url7, 3);
        getDeviceInfo(Url8, 2);

        for (var i = 0; i < URLS.length; i++) {
            console.log(URLS[i]);
            if(i == 0) {
                getData(URLS[i], i, newcharge1);
            } else if (i == 1) {
                getData(URLS[i], i, newcharge2);
            } else if (i == 2) {
                getData(URLS[i], i, newcharge3);
            } else if (i == 4) {
                getData(URLS[i], i, newcharge4);
            }
        }
        updateChartCustom();

    },8000);


    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: [0,8,16,24,32,40,48,56,64],
            datasets: [
                {
                    label: 'Supplier #1 Charge Level',
                    // backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: newcharge1,
                },
                {
                    label: 'Consumer #1 Charge Level',
                    // backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(102,174,255)',
                    data: newcharge2,
                },
                {
                    label: 'Supplier #2 Charge Level',
                    // backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(54,255,49)',
                    data: newcharge3,
                },
                {
                    label: 'Consumer #2 Charge Level',
                    // backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(197,104,255)',
                    data: newcharge4,
                },
            ]
        },


        // Configuration options go here
        options: {
            title: {
                display: true,
                text: ' Device(s) Charge Level in the Network  '
            }, scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: "Charge Level (kWh)"
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: "Time (s)"
                    }
                }]
            }
        }
    });

    function updateChart(){
        chart.data.datasets[0].data = newcharge1;
        chart.data.datasets[1].data = newcharge2;
        chart.data.datasets[2].data = newcharge3;
        chart.data.datasets[3].data = newcharge4;
        chart.update();
    };

    // pop = remove last value
    // shift = remove first value
    // unshift = add the value at the very begining of the array
    // push = add the value at the very end of the array

    function  addValue(datasetIndex, value) {

        if(datasetIndex == 0) {
            chart.data.datasets[0].data.shift();
            console.log(newcharge1[0])
            chart.data.datasets[0].data.push(value[0]);
        }
        if(datasetIndex == 1) {
            chart.data.datasets[1].data.shift();
            chart.data.datasets[1].data.push(value[0]);
        }
        if(datasetIndex == 2) {
            chart.data.datasets[2].data.shift();
            chart.data.datasets[2].data.push(value[0]);
        }
        if(datasetIndex == 1) {
            chart.data.datasets[3].data.shift();
            chart.data.datasets[3].data.push(value[0]);
        }
    };

    function updateChartCustom() {
        label = label + 8;
        chart.data.labels.shift();
        chart.data.labels.push(label);

        chart.update();
    }

    function addData(chart, label, data) {
        chart.data.labels.push(label);
        chart.data.datasets.forEach((dataset) => {
            dataset.data.push(data);
        });
        chart.update();
    };
    function removeData(chart) {
        chart.data.labels.pop();
        chart.data.datasets.forEach((dataset) => {
            dataset.data.pop();
        });
        chart.update();
    };






    // Get the elements with class="column"
    var elements = document.getElementsByClassName("column");

    // Declare a loop variable
    var i;

    // List View
    function listView() {
        for (i = 0; i < elements.length; i++) {
            elements[i].style.width = "100%";
        }
    }

    // Grid View
    function gridView() {
        for (i = 0; i < elements.length; i++) {
            elements[i].style.width = "50%";
        }
    }

    /* Optional: Add active class to the current button (highlight it) */
    var container = document.getElementById("btnContainer");
    var btns = container.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>

<img src="../../re.jpg" style="width:50%;">


</body>
</html>