<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>

    <title>{{.Title}}</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary p-4 sticky-top">
    <a class="navbar-brand" href="/">PowerFlow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>


<div class="bg bg-light">

    <div class="mainbody ">

        <H4 class="p-3 mb-0 mt-4 bg-light text-black">List of Devices</H4>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Peer</th>
                    <th scope="col">Name</th>
                    <th scope="col">Id</th>
                    <th scope="col">OperatingState</th>
                </tr>
                </thead>
                <tbody >
                {{ range $i, $sequence := .DeviceList }}
                    <tr>
                        <th scope="row">{{ $i }}</th>
                        <td>{{ $sequence.PeerId }}</td>
                        <td>{{ $sequence.Name }}</td>
                        <td>{{ $sequence.Id }}</td>
                        <td>{{ $sequence.OperatingState }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>

        <H4 class="p-3 mb-0 mt-4 bg-light text-black">Supply Board</H4>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Id</th>
                    <th scope="col">Reading</th>
                </tr>
                </thead>
                <tbody>
                {{ range $i, $sequence := .SupplyDevicesDetails }}
                    <tr>
                        <th scope="row">{{ $i }}</th>
                        <td>{{ $sequence.DeviceName }}</td>
                        <td>{{ $sequence.Id }}</td>
                        <td>{{ $sequence.Reading }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>

        <H4 class="p-3 mb-0 mt-4 bg-light text-black">Consume Board</H4>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Id</th>
                    <th scope="col">Reading</th>
                </tr>
                </thead>
                <tbody>
                {{ range $i, $sequence := .ConsumeDevicesDetails }}
                    <tr>
                        <th scope="row">{{ $i }}</th>
                        <td>{{ $sequence.DeviceName }}</td>
                        <td>{{ $sequence.Id }}</td>
                        <td>{{ $sequence.Reading }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>

        <H4 class="p-3 mb-0 mt-4 bg-light text-black">Transaction History</H4>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">SupplierName</th>
                    <th scope="col">SupplierId</th>
                    <th scope="col">ConsumerName</th>
                    <th scope="col">ConsumerId</th>
                    <th scope="col">PowerUnits</th>
                </tr>
                </thead>
                <tbody>
                {{ range $i, $sequence := .Transactions }}
                    <tr>
                        <th scope="row">{{ $i }}</th>
                        <td>{{ $sequence.SupplierName }}</td>
                        <td>{{ $sequence.SupplierId }}</td>
                        <td>{{ $sequence.ConsumerName }}</td>
                        <td>{{ $sequence.ConsumerId }}</td>
                        <td>{{ $sequence.PowerUnits }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>


    </div>


</div>

<div class="footer bg-dark text-white mt-4">
    Send email at: <a href="support@rozitaanurag.com">

        support@rozitaanurag.com</a>

    <BR> <B><I>@CS690 Master Project</I></B>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>